<!-- FOOTER -->
<div class="footer" id="footer">
    <div class="footer-content">
        <a href="#">
            <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/files/logo_250x.png?v=1596001145" alt="Logo">
        </a>
        <div class="mail">
            <div class="container">
                <div class="title">
                    <h4 style="color: #ffffff;">Subscribe Our Newsletter</h4>
                </div>
                <div class="mail-box">
                    <form action="" id="contact-form">
                        <input type="email" placeholder="Email address" class="mail" aria-label="Email address">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <ul class="social-icon-link list-inline">
                <li class="list-inline-item">
                    <a href=""><i class="fab fa-twitter fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fab fa-facebook-square fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fab fa-pinterest fa-lg"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href=""><i class="fab fa-instagram fa-lg"></i></a>
                </li>
            </ul>
        </div>
        <ul class="site-footer-link">
            <li class="after">
                <a href="#" style="color: #ffffff;">Home</a>
            </li>
            <li class="after">
                <a href="#" style="color: #ffffff;">About</a>
            </li>
            <li class="after">
                <a href="#" style="color: #ffffff;">Blog</a>
            </li>
            <li class="after">
                <a href="#" style="color: #ffffff;">Shop</a>
            </li>
            <li class="">
                <a href="#" style="color: #ffffff;">Contact</a>
            </li>
        </ul>
    </div>
    <div class="copyright" style="border-color:rgba(252, 132, 107, 0.3);">
        <p style="color:#ffffff">Copyright © 2020 Boom Earwear Powered by Shopify. All Rights Reserved.</p>
    </div>
</div>
<!-- FOOTER -->