<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/css/add-new.css">
</head>
<body>
   <div class="main-content">
       <div class="side-bar">
           <h4>ADMIN PAGE</h4>
           <ul>
                <li>
                    <a href="/admin-page">Create</a>
                </li>
                <li>
                    <a href="/admin-page/update" target="_self">Update</a>
                </li>
                <li>
                    <a href="/admin-page/remove">Remove</a>
                </li>
                <li>
                    <a href="/account/logout">Logout</a>
                </li>
        </ul>
       </div>
       <div class="content">
            <form class="form-info">
                <h2>Remove Product</h2>

                <table>
                    <colgroup>
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 70%;">
                    </colgroup>
                    <tr> 
                        <td>Product ID</td>
                
                        <td><input type="text" class="form-control" required placeholder="Enter Product ID"></td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                
                        <td><input type="text" class="form-control"  required placeholder="Enter Product Name"></td>
                    </tr>
                </table>
                <div class="add-button">
                    <input class="btn" type="submit" value="REMOVE  PRODUCT">
                </div>
           </form>
        

            
           
       
       </div>
   </div> 
</body>
</html>