/* Head-menubar */
.header-content {
   
}
.head-menubar {
    padding-top: 35px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.head-menubar .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}
nav {
    /* z-index: 100; */
}
.navbar-nav {
    padding-left: 5px;
}
.navbar-nav .nav-item {
    padding: 8px 25px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 19px;
    color: black;
    border-bottom: 1px solid transparent;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0;
}
.navbar-nav .nav-item .current {
    border-color: #fc846b;
    color: #fc846b;
}
.header-icon ul {
    padding-top: 20px;
    height: 100%;
}
.header-icon div a {
    height: 15px;
}
.header-icon ul li.cart {
    margin-inline-end: 40px;
}
.header-icon ul li a {
    color: black;
}
.bg-img {
    z-index: 0;
    position: relative;
    max-width: 100%;
}
.bg-img img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    
}

/* trsng cart */
.header-content-cart{
    height:113.6px;
}

.head-menubar-cart {
    width: 100%;
    height:100%;
}
.head-menubar-cart .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}

.headphone-image{
    height:175.8px;
    background-image:url("https://i.imgur.com/GyxjoDB.jpg?1"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding:40px;
}
.headphone-image .shopping-cart{
    font-size: 25px;
    letter-spacing: 2px;
    color:white;
    text-align:center;
}
/* header */
.none-product .container .main h5 {
    color: #fc846b;
    margin: 40px 0 15px;
    font-family: Playfair Display;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
}
.none-product .container .main p {
    font-size: 18px;
    font-weight: inherit;
    margin-top: 15px;
}
.product-list{
    margin:50px;
    overflow:hidden;
}
.product-list .cart-table{
    width:75%;
    float:left;
}
.product-list .order-summary{
    width:25%;
    float:left;
    padding-left:30px;
}
.h6{
    color:#fc846b;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:20px;
}
.product-list .order-summary .sub-title{
    float:left;
    
}
.product-list .order-summary .sub-total-money{
    float:right;
}
.product-list .order-summary .cart-note textarea{
    width: 100%;
    min-height: 150px;
    border-radius: 30px;
    padding: 12px 15px;
    line-height: 1.42;
    border: 1px solid #b3b1b1;
    resize: none;
}
.product-list .order-summary .cart-note textarea:focus{
    outline: none;
    border: 1px solid #555555;
}
.product-list .order-summary .note{
    font-size: 17px;
    font-style: italic;
}
.product-list .cart-table table{
    width:100%;
}
.product-list .cart-table table th,.product-list .order-summary .title{
    background: #f5f5f5;
    border-bottom: 1px solid rgba(55, 55, 55, 0.15);
    color: #000000;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding:15px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}

.product-list .cart-table table tr td{
    border-bottom: 1px solid rgba(55, 55, 55, 0.15); ;
    padding:20px 0;
}
.product-list .cart-table .cart-info{
    padding:10px;

}
.cart-image{
    float:left;
    overflow:hidden;
}
.cart-image img{
    width:100px;
    height:100px;
}
.cart-title{
    float:left;
    margin-left:20px;
    text-align:left;
}

.product-list .button{
    border: 1px solid #f5f5f5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
}

.product-list .quantity{
    border: none;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    color: #000000;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}
.product-list .btn-action{
    float:left;
    margin-top:30px;
    width:100%;
}
.btn{
    background-color: #373737;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    color: #fc846b;
    display: inline-block;
    padding:10px 20px;
    text-align:center;
    letter-spacing: 1px;
    font-size:15px;
    font-weight:700;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #fc846b;
    color:white;
}

.product-list .order-summary .price{
    overflow: hidden;
}
.product-list .order-summary .btn-action .btn{
    width:100%;
}


/* Footer */
.footer {
    background-image: url(//cdn.shopify.com/s/files/1/0437/0454/9536/files/footer-bg_1920X.jpg?v=1596001099);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 80px 0 0;
    float: left;
    width: 100%;
}
.footer .footer-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
}
.footer .footer-content a {
    margin-bottom: 25px;
    display: inline-block;
    /* width: 100%; */
}
.footer .footer-content .mail .container .title h4 {
    font-size: 26px;
    font-weight:    bolder;
    margin-bottom: 20px;
    font-family: Playfair Display;
    letter-spacing: 0em;
    margin: 0 0 15px;
    line-height: 1.5;
}
.footer .footer-content .mail .container .mail-box #contact-form {
    background: white;
    border-radius: 30px;
    display: inline-block;
    width: 45%;
    padding: 5px;
    position: relative;
    margin: 15px auto 40px;
}
.footer .footer-content .mail .container .mail-box #contact-form input {
    color: black;
    width: calc(100% - 190px);
    border: 1px solid #ffffff;
    padding: 12px 15px;
}
input.mail:focus {
    outline: none; 
    /* remove border highlight */
}
.footer .footer-content .mail .container .mail-box #contact-form button {
    color: #ffffff;
    background-color: #fc846b;
    border-radius: 30px;
    /* margin-top: 20px; */
    /* font-family: Poppins; */
    font-weight: 500;
    text-transform: capitalize;
    font-size: 17px;
    padding: 12px 45px;
    border-style: none;
    float: right;
}
::placeholder {
    color: black;
}
.footer .footer-content .social-icons {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
}
.footer .footer-content .social-icons ul li {
    float: none;
    display: inline-block;
}
.footer .footer-content .social-icons ul li a {
    color: #fc846b;
}
.footer .footer-content .site-footer-link li.after:after {
    color: #ffffff;
    content: '|';
    display: inline-block;
    padding: 0 24px;
}
.footer .footer-content .site-footer-link {
    padding-right: 40px;
}
.footer .footer-content .site-footer-link li {
    float: none;
    display: inline-block;
}
.footer .copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 70px;
}