.head-menubar {
    padding-top: 35px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.head-menubar .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}
nav {
    /* z-index: 100; */
}
.navbar-nav {
    padding-left: 5px;
}
.navbar-nav .nav-item {
    padding: 8px 25px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 19px;
    color: black;
    border-bottom: 1px solid transparent;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0;
}
.navbar-nav .nav-item .current {
    border-color: #fc846b;
    color: #fc846b;
}
.header-icon ul {
    padding-top: 20px;
    height: 100%;
}
.header-icon div a {
    height: 15px;
}
.header-icon ul li.cart {
    margin-inline-end: 40px;
}
.header-icon ul li a {
    color: black;
}
.bg-img {
    z-index: 0;
    position: relative;
    max-width: 100%;
}
.bg-img img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    
}
.header-content-cart{
    height:113.6px;
}

.head-menubar-cart {
    width: 100%;
    height:100%;
}
.head-menubar-cart .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}

.headphone-image{
    background-image:url("https://i.imgur.com/GyxjoDB.jpg?1"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding:40px;
}
.headphone-image .shopping-cart{
    font-size: 25px;
    letter-spacing: 2px;
    color:white;
    text-align:center;
}
/* header */
body{
    /* background-color: #fc846b; */
    font-family: sans-serif;
}
.login{
    width: 300px;
    height: 700px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin:0 auto;
}
.login h2{
    display: inline-block;
    color: #373737;  
}
.login input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}


.login button{
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #373737;
    color: #fc846b;
}
.login p{
   display: inline-block;
   float: left;
   padding-left: 40px;
   margin: 0px;
   
}

/* footer */
.footer {
    background-image: url(//cdn.shopify.com/s/files/1/0437/0454/9536/files/footer-bg_1920X.jpg?v=1596001099);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 80px 0 0;
    float: left;
    width: 100%;
}
.footer .footer-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
}
.footer .footer-content a {
    margin-bottom: 25px;
    display: inline-block;
    /* width: 100%; */
}
.footer .footer-content .mail .container .title h4 {
    font-size: 26px;
    font-weight:    bolder;
    margin-bottom: 20px;
    font-family: Playfair Display;
    letter-spacing: 0em;
    margin: 0 0 15px;
    line-height: 1.5;
}
.footer .footer-content .mail .container .mail-box #contact-form {
    background: white;
    border-radius: 30px;
    display: inline-block;
    width: 45%;
    padding: 5px;
    position: relative;
    margin: 15px auto 40px;
}
.footer .footer-content .mail .container .mail-box #contact-form input {
    color: black;
    width: calc(100% - 190px);
    border: 1px solid #ffffff;
    padding: 12px 15px;
}
input.mail:focus {
    outline: none; 
    /* remove border highlight */
}
.footer .footer-content .mail .container .mail-box #contact-form button {
    color: #ffffff;
    background-color: #fc846b;
    border-radius: 30px;
    /* margin-top: 20px; */
    /* font-family: Poppins; */
    font-weight: 500;
    text-transform: capitalize;
    font-size: 17px;
    padding: 12px 45px;
    border-style: none;
    float: right;
}
::placeholder {
    color: black;
}
.footer .footer-content .social-icons {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
}
.footer .footer-content .social-icons ul li {
    float: none;
    display: inline-block;
}
.footer .footer-content .social-icons ul li a {
    color: #fc846b;
}
.footer .footer-content .site-footer-link li.after:after {
    color: #ffffff;
    content: '|';
    display: inline-block;
    padding: 0 24px;
}
.footer .footer-content .site-footer-link {
    padding-right: 40px;
}
.footer .footer-content .site-footer-link li {
    float: none;
    display: inline-block;
}
.footer .copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 70px;
}