/* .header-content-cart {
    overflow: hidden;
} */
.head-menubar {
    padding-top: 35px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.head-menubar .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}
.navbar-nav {
    padding-left: 5px;
}
.navbar-nav .nav-item {
    padding: 8px 25px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 19px;
    color: black;
    border-bottom: 1px solid transparent;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0;
}
.navbar-nav .nav-item .product {
    border-color: #fc846b;
    color: #fc846b;
}
.header-icon ul {
    padding-top: 20px;
    height: 100%;
}
.header-icon div a {
    height: 15px;
}
.header-icon ul li.cart {
    margin-inline-end: 40px;
}
.header-icon ul li a {
    color: black;
}

.header-content-cart{
    height:113.6px;
}

.head-menubar-cart {
    width: 100%;
    height:100%;
}
.head-menubar-cart .container-bg {
    float: left;
    width: 100%;
    padding: 0 4%;
}
.navbar-nav .nav-item .product_page {
    border-color: #fc846b;
    color: #fc846b;
}
/* het header */
.headphone-image{
    background-image:url("https://i.imgur.com/GyxjoDB.jpg?1"); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding:40px;
}
.headphone-image .shopping-cart{
    font-size: 25px;
    letter-spacing: 2px;
    color:white;
    text-align:center;
}

.main-content{
    margin:50px;
    overflow:hidden;
}
.main-content .side-bar{
    width:25%;
    float:left;
    padding-right:20px;
}
.widget{
    margin-bottom:40px;
}
h4{
    border-bottom: 1px solid rgba(55, 55, 55, 0.15);
    font-family:'Times New Roman', Times, serif;
    margin-bottom:15px;
    padding-bottom:10px;
    font-weight: bold;
    font-size:22.5px;

}
.main-content .side-bar ul{
    list-style: none;
    padding:0;
}
.main-content .side-bar .widget ul li{
    padding:6px 0;
    width:100%;
}
.main-content .side-bar .widget ul li a,.widget ul li label{
    color:black;
    font-size:18px;
    line-height:1.7;
    transition:0.4s;
    cursor:pointer;
}
.main-content .side-bar .widget ul li a:hover{
    color:#fc846b;
    text-decoration:none;
}
.main-content .side-bar .widget label:hover{
    color:#fc846b;
    text-decoration:none;
}
input.byColor, input.byBrand, input.byPrice {
    position: absolute;
    cursor:pointer;
    opacity:0;
    width:0;
    height:0;
}

.widget label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
}
.checkmark {
    position: absolute;
    left: 0;
    top: 8px;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 50%;

}
.widget label input:checked + .checkmark{
    border-width:7px;
    border-color:#fc4c4b;
}

.color ul li span.s2{
    cursor:pointer;
    float:left;
    width:16px;
    height:16px;
    border-radius:50%;
}
.color ul li .s1{
    display:inline-block;
    border:2px solid #e4e4e4;
    padding:3px;
    border-radius:50%;
    transition:0.4s;
}
.color ul li .s1:hover, .color ul li input:checked + .s1{
    border:2px solid red;
}

.color label{
    display:block;
}
.color ul li{
    display:inline-block;
}

.main-content .product-section{
    width:75%;
    float:left;
    padding-left: 20px;
}
.main-content .product-section .toolbar{
    background-color:rgba(0,0,0,0.05);
    border:1px solid #e4e4e4;
    padding:9px;
    margin-bottom:30px;
    width:100%;

}
.toolbar label{
    margin-right:10px;
    margin-top:8px;
}
.dropbtn {
    background-color:white;
    font-size: 16px;
    padding:7px 28px 7px 12px;
    border: none;
    text-align:left;
    width:160px;
    border:1px solid #e4e4e4;
  }
  
.dropdown {
    position:relative;
    display:inline-block;
}
  
.dropdown-content {
    position:absolute;
    display: none;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content .dropdown-item  {
    color: black;
    padding: 7px 12px;
    text-decoration: none;
    display: block;
    transition:0.4s;
}
  
.dropdown-content .dropdown-item:hover {
    background-color:#fc846b;
    color:white;
}

.dropdown-content .dropdown-item:focus {
    outline: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  

/*.toolbar .btn:after{
    font-size:10px;
    content:"\f078";
    right:9px;
    top:50%;
    transform:translateY(-50%);
    font-family:"Font Awsome 5 Free";
    font-weight:bold;
    position:absolute;
}*/

.show{display:block;}
.product-collection .column{

    padding:0 15px 20px;
    text-align:center;
}
.product-collection .column .item-title a{
    font-size: 16px;
    color:#fc846b;
    transition: 0.4s;
}
.product-collection .column .item-title a:hover{
    text-decoration: none;
    color:black;
}

/* Footer */
.footer {
    background-image: url(//cdn.shopify.com/s/files/1/0437/0454/9536/files/footer-bg_1920X.jpg?v=1596001099);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 80px 0 0;
    float: left;
    width: 100%;
}
.footer .footer-content {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
}
.footer .footer-content a {
    margin-bottom: 25px;
    display: inline-block;
    /* width: 100%; */
}
.footer .footer-content .mail .container .title h4 {
    font-size: 26px;
    font-weight:    bolder;
    margin-bottom: 20px;
    font-family: Playfair Display;
    letter-spacing: 0em;
    margin: 0 0 15px;
    line-height: 1.5;
}
.footer .footer-content .mail .container .mail-box #contact-form {
    background: white;
    border-radius: 30px;
    display: inline-block;
    width: 45%;
    padding: 5px;
    position: relative;
    margin: 15px auto 40px;
}
.footer .footer-content .mail .container .mail-box #contact-form input {
    color: black;
    width: calc(100% - 190px);
    border: 1px solid #ffffff;
    padding: 12px 15px;
}
input.mail:focus {
    outline: none; 
    /* remove border highlight */
}
.footer .footer-content .mail .container .mail-box #contact-form button {
    color: #ffffff;
    background-color: #fc846b;
    border-radius: 30px;
    /* margin-top: 20px; */
    /* font-family: Poppins; */
    font-weight: 500;
    text-transform: capitalize;
    font-size: 17px;
    padding: 12px 45px;
    border-style: none;
    float: right;
}
::placeholder {
    color: black;
}
.footer .footer-content .social-icons {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
}
.footer .footer-content .social-icons ul li {
    float: none;
    display: inline-block;
}
.footer .footer-content .social-icons ul li a {
    color: #fc846b;
}
.footer .footer-content .site-footer-link li.after:after {
    color: #ffffff;
    content: '|';
    display: inline-block;
    padding: 0 24px;
}
.footer .footer-content .site-footer-link {
    padding-right: 40px;
}
.footer .footer-content .site-footer-link li {
    float: none;
    display: inline-block;
}
.footer .copyright {
    text-align: center;
    padding: 20px 0;
    margin-top: 70px;
}