body{
    font-family:Open Sans, sans-serif;
    font-size:14px;
}
.information{
    width:55%;
    float:left;
    padding:50px 50px 50px 200px;
    overflow:hidden;
    border-right:1px solid rgba(175,175,175,0.34);
}
.side{
    width:45%;
    float:left;
    padding:50px 200px 0 40px;
    background: #fafafa;
    height:100vh;
    overflow: hidden;
}

.information ul.breadcrumb{
    list-style:none;
    background-color: white;
    margin-top:20px;
    margin-bottom:28px;  
    padding:0;
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    color: #fc4c4b
}
ul.breadcrumb .active{
    font-weight: 550;
    color:black;
}   

.information a{
    color: #fc4c4b;
    text-decoration:none;
}
.content{
    border:1px solid #d5d5d5;
    border-radius:5px;
    width:100%;
    margin-bottom:30px;
    padding:12px 16px;
}
.content table tr td{
    vertical-align:top;
    /* padding:12px 0; */
}
.content-pay table tr td{
    padding:12px 16px 4px 16px;
}
.lower-row{
    border-top:1px solid #d5d5d5;
}
.content-pay .check{
    position:relative;
    cursor:pointer;
    padding-left:35px;
    font-weight:600;
}
.content-pay .check input{
    position:absolute;
    cursor:pointer;
    opacity:0;
    height:0;
    width:0;
}
.checkmark{
    position: absolute;
    top:2px;
    left:0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.content-pay .check input:checked +.checkmark{
    border-width:7px;
    border-color:#fc4c4b;
}
.content-pay .format{
    background-color: #fafafa;
    display:none;
}
.form-info .format input{
    padding: 13px 11px;
    border-radius: 5px;
    margin:15px 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition:0.2s;
}
.form-info input:focus{
    border-color:#fc4c4b;
    box-shadow: 0 0 0 1px #fc4c4b;
}
.information .checking{
    align-items:center;
    display:flex;
}
.information .checking .btn{
    float:left;
    background-color: #fc4c4b;
    color:white;
    padding: 19px 23px;
    font-weight:600;
    border-radius:5px;
    font-size:14px;
    cursor:pointer;
}
.information .checking .return{
    float:left;
    margin-left:20px;
}
.side .product-table{
    padding-bottom:20px;
    border-bottom:1px solid rgba(175,175,175,0.34);
}
.side .product-table img{
    width:100%;
    border:1px solid rgba(175,175,175,0.34);
    border-radius:5px;
}
.discount{
    border-bottom:1px solid rgba(175,175,175,0.34);
    padding:20px 0 30px 0;
    overflow:hidden;
}
.discount .btn{
    float:right;
    color:white;
    background-color:#fc4c4b;
    width:22%;
    padding:10px;
}
.sub-money{
    padding:20px 0;
    border-bottom:1px solid rgba(175,175,175,0.34);
}
.side table td{
    padding:5px 0;
}
.total{
    padding:30px 0;
}
.price{
    font-weight:600;
    text-align: right;
}
.successfully {
    display: none;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    animation: fade-in 0.6s;  
}
@keyframes fade-in{
    from {opacity:0} 
    to {opacity:1}
}
.successfully .successfully-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
    width: 680px;
    background-color: white;
}
.successfully .successfully-content .order-info h3 {
    color: #fc846b;
}
.successfully .successfully-content .confirmBtn a {
    border:1px solid #e4e4e4;
    color: #fc846b;
    background-color: #373737;
    padding: 10px;
    border-radius:30px;
    padding:10px;
    width:40%;
    font-size: inherit;
    font-weight: 600;
    transition:0.4s;
    cursor: pointer;
}
.successfully .successfully-content .confirmBtn a.btn:hover {
    /* outline: none; */
    color: #ffffff;
    background-color: #fc846b;
}
.successfully .successfully-content .confirmBtn a.left {
    margin-right: 30px;
}

